body {
  background-image: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    rgb(0, 148, 145),
    lightblue,
    orange,
    #71ff52,
    #a0e51b
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar {
  overflow: hidden;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 30px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 30px;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.img {
  float: left;
  margin-right: 0.001%;
  margin-left: 150px;
  margin-top: 50px;
}
.img-text {
  float: left;
  margin-left: 0.001px;
  margin-top: 20px;
  padding-left: 20px;
}
